<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Results</title>
	<style>
		#results li {
			display: inline-block;
		}
		#results img {
			width: 200px;
			height: 200px;
			padding: 10px;
			border-radius: 20px;
		}
	</style>
</head>
<body>
	<h1>Pics of <%= tag %>
	<div id="results">
	<% if (pics_arr.length>0) %>
		<form action="/" method="POST">
			<input type="hidden" name="tag" value="<%= tag %>">
			<ul>
				<% pics_arr.each do |pic| %>
					<li><input name="pic_choice[]" type="checkbox" value="<%= pic %>">
					<img src="<%= pic %>"> </li>
				<% end %>
			</ul>
			<button>Save Choices</button>
		</form>
	</div>
	<% else %>
		<h3>No results.  Please try your search again.</h3>
	<% end %>

	<small><a href="/">Go home</a></small>
</body>
</html>